html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

*,
:before,
:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.abs-pos, #wrapper, #click_through, #legal {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  overflow: hidden; }

#wrapper {
  position: relative;
  visibility: hidden; }
  #wrapper.show {
    visibility: visible; }

#click_through {
  z-index: 900;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #000; }

#legal {
  width: 100px;
  height: 32px;
  top: 213px;
  left: 189px;
  z-index: 900;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0); }

#bg1 {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/bg1.jpg") no-repeat; }

#bg2 {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/bg2.jpg") no-repeat; }

#bg3 {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/bg3.jpg") no-repeat; }

#f1_copy {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/f1_copy.png") no-repeat; }

#f2_copy {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/f2_copy.png") no-repeat; }

#f3_copy {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/f3_copy.png") no-repeat; }

#f4_copy1 {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/f4_copy1.png") no-repeat; }

#product {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/product.jpg") no-repeat; }

#disclaimer_box {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0;
  left: 0;
  background: url("../img/disclaimer_box.png") no-repeat; }

#cta {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 73px;
  height: 25px;
  top: 66px;
  left: 15px;
  background-color: #fff;
  overflow: hidden; }

#learnmore, #learnmore1, #learnmore2 {
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  cursor: pointer; }
